.vscode/browse.db
.vscode/browse.db-shm
.vscode/browse.db-wal
bin/Cognition_debug.app
bin/Cognition.app
**/obj
.DS_Store
bin/.DS_Store
bin/libs-macOS/.DS_Store
bin/libs-macOS/libs/
.gitignore.swp
bin/Cognition_debug*
